.container-login{
    background-color: gainsboro;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
.container-login form{
    background-color: white;
    width: 40%;
    padding: 1%;
    border-radius: 15px;
    box-shadow: 0px 0px 2px 1px black;
}

.container-action{
    text-align: center;
    margin-top: 10px;
}

.container-logo{
    display: flex;
    justify-content: center;
}
.container-logo img{
    height: 100px;
}

.conteiner-button{
    display: flex;
    justify-content: center;
}

.container-message{
    position: fixed;
    top: 24px;
    right: 24px;
}

.danger-message{
    background-color: red;
    color: white;
    box-shadow: 0px 0px 10px 1px darkred;
}

.success-message{
    background-color: greenyellow;
    color: white;
    box-shadow: 0px 0px 10px 1px greenyellow;
}

.content-message{
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
}